<div class="columns">
  <% @links.each do |link| %>
    <div class="card">
      <%= link_to url_for(link.image), target: '_blank' do %>
        <%= image_tag url_for(link.image), class: 'card-image' %>
      <% end %>
    </div>
  <% end %>
</div>
